@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

td {
  padding: 10px;
  text-align: left;
}

th {
  padding: 5px;
}
tbody tr {
  cursor: pointer;
  @apply hover:bg-orange-300/50 ease-in-out transition-all duration-300
}
input:focus {
  outline-color: transparent;
  outline: none;
}
select:focus {
  outline-color: transparent;
  outline: none;
}